<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pengguna1</servlet-name>
        <servlet-class>servlets.Pengguna1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanPenggunaServlet</servlet-name>
        <servlet-class>servlets.SimpanPenggunaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahSiswa</servlet-name>
        <servlet-class>servlets.TambahSiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbahSiswa</servlet-name>
        <servlet-class>servlets.ProsesUbahSiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kelas</servlet-name>
        <servlet-class>servlets.KelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahKelasServlet</servlet-name>
        <servlet-class>servlets.TambahKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbsensiServlet</servlet-name>
        <servlet-class>servlets.AbsensiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahAbsensiServlet</servlet-name>
        <servlet-class>servlets.TambahAbsensiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiswaServlet</servlet-name>
        <servlet-class>servlets.SiswaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesTambahPengguna</servlet-name>
        <servlet-class>servlets.ProsesTambahPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mbuh</servlet-name>
        <servlet-class>servlets.ProsesTambahPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Penggunalama</servlet-name>
        <jsp-file>/pages/pengguna.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UbahPengguna</servlet-name>
        <servlet-class>servlets.ProsesUbahPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanUbahPengguna</servlet-name>
        <servlet-class>servlets.SimpanUbahPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusPengguna</servlet-name>
        <servlet-class>servlets.HapusPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatalPengguna</servlet-name>
        <servlet-class>servlets.BatalPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusSiswa</servlet-name>
        <servlet-class>servlets.HapusSiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalDaftarKelas</servlet-name>
        <servlet-class>servlets.HalDaftarKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Semester</servlet-name>
        <servlet-class>servlets.SemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahSemester</servlet-name>
        <servlet-class>servlets.TambahSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeGuruServlet</servlet-name>
        <servlet-class>servlets.HomeGuruServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalTambahKelasServlet</servlet-name>
        <servlet-class>servlets.HalTambahKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalTambahSemesterServlet</servlet-name>
        <servlet-class>servlets.HalTambahSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbahKelasServlet</servlet-name>
        <servlet-class>servlets.UbahKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatalKelasServlet</servlet-name>
        <servlet-class>servlets.BatalKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusKelasServlet</servlet-name>
        <servlet-class>servlets.HapusKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalUbahKelasServlet</servlet-name>
        <servlet-class>servlets.HalUbahKelasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalUbahSemesterServlet</servlet-name>
        <servlet-class>servlets.HalUbahSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbahSemesterServlet</servlet-name>
        <servlet-class>servlets.UbahSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusSemesterServlet</servlet-name>
        <servlet-class>servlets.HapusSemesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeTuServlet</servlet-name>
        <servlet-class>servlets.HomeTuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalDaftarSiswaServlet</servlet-name>
        <servlet-class>servlets.HalDaftarSiswaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pengguna1</servlet-name>
        <url-pattern>/pengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanPenggunaServlet</servlet-name>
        <url-pattern>/simpan_pengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahSiswa</servlet-name>
        <url-pattern>/TambahSiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kelas</servlet-name>
        <url-pattern>/kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbsensiServlet</servlet-name>
        <url-pattern>/absensi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahAbsensiServlet</servlet-name>
        <url-pattern>/tambah_absensi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiswaServlet</servlet-name>
        <url-pattern>/SiswaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesTambahPengguna</servlet-name>
        <url-pattern>/prosestambahpengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mbuh</servlet-name>
        <url-pattern>/mbuh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Penggunalama</servlet-name>
        <url-pattern>/penggunalama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahPengguna</servlet-name>
        <url-pattern>/ubahpengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanUbahPengguna</servlet-name>
        <url-pattern>/SimpanUbahPengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusPengguna</servlet-name>
        <url-pattern>/HapusPengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatalPengguna</servlet-name>
        <url-pattern>/BatalPengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusSiswa</servlet-name>
        <url-pattern>/HapusSiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalDaftarKelas</servlet-name>
        <url-pattern>/daftarkelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Semester</servlet-name>
        <url-pattern>/semester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahSemester</servlet-name>
        <url-pattern>/tambah_semester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeGuruServlet</servlet-name>
        <url-pattern>/homeguru</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahKelasServlet</servlet-name>
        <url-pattern>/tambah_kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahKelasServlet</servlet-name>
        <url-pattern>/ubah_kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatalKelasServlet</servlet-name>
        <url-pattern>/batal_kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusKelasServlet</servlet-name>
        <url-pattern>/hapus_kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalTambahKelasServlet</servlet-name>
        <url-pattern>/tambahkelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalUbahKelasServlet</servlet-name>
        <url-pattern>/ubahkelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahSiswa</servlet-name>
        <url-pattern>/ubahsiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalUbahSemesterServlet</servlet-name>
        <url-pattern>/ubahsemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahSemesterServlet</servlet-name>
        <url-pattern>/ubah_semester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusSemesterServlet</servlet-name>
        <url-pattern>/hapus_semester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalTambahSemesterServlet</servlet-name>
        <url-pattern>/tambahsemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeTuServlet</servlet-name>
        <url-pattern>/hometu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalDaftarSiswaServlet</servlet-name>
        <url-pattern>/daftarsiswa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/halamanlogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
