<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    
    </servlet>
    <servlet>
        <servlet-name>ProsesTambahPengguna</servlet-name>
        <servlet-class>servlets.ProsesTambahPengguna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenggunaServlet</servlet-name>
        <servlet-class>servlets.PenggunaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanPenggunaServlet</servlet-name>
        <servlet-class>servlets.SimpanPenggunaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahSiswa</servlet-name>
        <servlet-class>servlets.TambahSiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbahSiswa</servlet-name>
        <servlet-class>servlets.UbahSiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kelas</servlet-name>
        <servlet-class>servlets.KelasServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanKelas</servlet-name>
        <servlet-class>servlets.SimpanKelasServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbsensiServlet</servlet-name>
        <servlet-class>servlets.AbsensiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahAbsensiServlet</servlet-name>
        <servlet-class>servlets.TambahAbsensiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiswaServlet</servlet-name>
        <servlet-class>servlets.SiswaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenggunaServlet</servlet-name>
        <url-pattern>/pengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanPenggunaServlet</servlet-name>
        <url-pattern>/simpan_pengguna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahSiswa</servlet-name>
        <url-pattern>/TambahSiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahSiswa</servlet-name>
        <url-pattern>/UbahSiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kelas</servlet-name>
        <url-pattern>/kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanKelas</servlet-name>
        <url-pattern>/simpankelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbsensiServlet</servlet-name>
        <url-pattern>/absensi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahAbsensiServlet</servlet-name>
        <url-pattern>/tambah_absensi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiswaServlet</servlet-name>
        <url-pattern>/SiswaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/halamanlogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
